.pub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #088178;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.pub h4{
    color: #fff;
    font-size: 16px;
}
.pub h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
.pub h2 span{
    color: #ecef36;
}
.pub button:hover{
    background-color: #088178;
    color: #fff;
}
