.hero{
    height: 100vh;
    background: url(../Assets/background2.jpg);
    background-size: cover;
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 50px;
    font-weight: 800;
}
.hero-left p{
    color: #e2e614fd;
    font-size: 60px;
    font-weight: 700;
}
.hand--with-food{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand--with-food img{
    width: 105px;
}
.hero--check-bnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #086e05;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -300px;
    flex-direction: column;
    gap: 3px;
}
.search{
    padding: 15px;
    font-size: 20px;
    width: 450px;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
}
.search-sug{
    background: #ffffff;
    margin-left: -60px;
    padding: 40px;
    font-size: 20px;
    height: 50vh;
    overflow-y: scroll;
    width: 300px;
    opacity: 0;
}
.search-sug:hover{
    opacity: 1;
}